<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="font-size: 70px;text-align: center;">This is my first Template</h1>
    <ps style="font-size: larger;color: red; text-align: center;">Protegenos Señor del "BRIK" con tu espiritu</p>
</body>
<footer>
    <P style="font-size: larger;color: aliceblue ; padding: 10px; text-align: center;background-color: black;">POWERED BY... {{autor}}
    <br><br>si, lo hice yo solo </P>
</footer>
</html>