<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <div style="font-size: larger;text-align: center; color: blue;">    
        <h1>Éstas son mis notas:</h1>
        <br><br>
        {% for nota in notas %}
            {% if nota > 6 %}
                <p style="color: green; font-size: x-large;">APROBASTE: {{nota}}</p>
            {% else %}
                <p style="color: red;">DESAPROBASTE: {{nota}}</p>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>