<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer Template</title>
</head>
<body>
    <h1>Éste es mi primer template!</h1>
    <ul>
        <li>
            <p style="color: rgb(1, 67, 1);">Aquí estoy escribiendo cosas</p>
            <p style="color: rgb(255, 0, 0); ">El autor {{apellido}} {{nombre}} te saluda :D</p>
        </li>
    </ul>


    <p style="font-size: larger; color: gold;">Este template fue abierto {{ date }}</p>
</body>
</html>